{% extends 'base.html.twig' %}

{% block title %}{{ app.user.nom }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-5">
            <div class="well">
                <fieldset>
                    <legend><i class="fa fa-edit" aria-hidden="true"></i> Infos établissement</legend>
                    {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.username) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                    <button class="btn btn-primary" type="submit">Enregistrer !</button>
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}
