{% extends 'base.html.twig' %}

{% block headertitle %}
    {% if form.vars.origine is null %}
        Réinitialisation du mot de passe
    {% else %}
        Validation du compte
    {% endif %}
{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Bonjour {{ form.vars.etablissement.nom }}</h1>
            {% if form.vars.origine is null %}
                <p class="lead">
                    Vous avez souhaité la réinitialisation de votre mot de passe, merci de le saisir !
                </p>
            {% else %}
                <p class="lead">
                    Votre compte et adresse e-mail ont été validés, pour terminer votre inscription, merci de définir votre mot de passe.<br />
                    Pour rappel, votre identifiant de connexion est le suivant : {{ form.vars.etablissement.username }}.
                </p>
            {% endif %}
            <p>
                {{ form_start(form) }}
                {{ form_row(form.password) }}
                <button class="btn btn-primary" type="submit">{% if form.vars.origine is null %}Réinitialiser{% else %}Valider{% endif %}</button>
                {{ form_end(form) }}
            </p>
        </div>
    </div>
{% endblock %}
