<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-calendar"></i> {{ card.titre }}</h5>
        {% if card.montantTicket is not empty %}
            <p class="card-text" data-toggle="tooltip" title="Montant d'un ticket"><i class="fas fa-ticket-alt"></i> {{ card.montantTicket }}</p>
        {% endif %}
        <p class="card-text" data-toggle="tooltip" title="Recette"><i class="fas fa-plus"></i> {{ card.recette }}</p>
        <p class="card-text" data-toggle="tooltip" title="Dépenses"><i class="fas fa-minus"></i> {{ card.depense }}</p>
        <hr />
        <p class="card-text" data-toggle="tooltip" title="Balance"><i class="fas fa-balance-scale"></i> {{ card.balance }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ path('kermesse', {'id': card.kermesse.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Détail"><i class="fas fa-eye"></i></a>
        <a href="{{ path('editer_kermesse', {'id': card.kermesse.id}) }}" class="btn btn-secondary" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></a>
        <a href="{{ path('nouveau_ticket', {'id': card.kermesse.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Nouvelle dépense"><i class="fas fa-receipt"></i></a>
        <a href="{{ path('nouvelle_recette', {'id': card.kermesse.id}) }}" class="btn btn-success" data-toggle="tooltip" title="Nouvelle recette"><i class="fas fa-donate"></i></a>
        <a href="{{ path('export_comptable', {'id': card.kermesse.id}) }}" class="btn btn-success" data-toggle="tooltip" title="Export comptable"><i class="fas fa-file-download"></i></a>
        {% if card.derniere %}<a href="{{ path('dupliquer_kermesse', {'id': card.kermesse.id}) }}" class="btn btn-warning" data-toggle="tooltip" title="Dupliquer"><i class="fas fa-clone"></i></a>{% endif %}
    </div>
</div>