{% extends 'base.html.twig' %}

{% block title %}Kermesse{% endblock %}

{% block body %}
    <div class="container-fluid">
        <fieldset>
            <legend>Activités <a href="{{ path('nouvelle_activite', {'id': kermesse.id}) }}" class="btn btn-primary"><i class="fas fa-plus"></i></a></legend>
            <div class="row">
                {% if kermesse.activites is empty %}
                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card text-center">
                        <h5 class="card-title">Aucune activité</h5>
                    </div>
                </div>
                {% endif %}
                {% for activite in kermesse.activites %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{ activite.nom }}</h5>
                                <p class="card-text"><i class="fas fa-receipt"></i> {{ recettes[activite.id]['depense'] }}</p>
                                <p class="card-text"><i class="fas fa-money-bill-wave-alt"></i> {{ recettes[activite.id]['montant'] }}</p>
                                {% if kermesse.montantTicket > 0 %}
                                    <p class="card-text"><i class="fas fa-ticket-alt"></i> {{ activite.nombreTotalTickets }} (x{{ montantTicket }})</p>
                                {% endif %}
                                <hr />
                                <p class="card-text">Total : {{ recettes[activite.id]['total'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('supprimer_activite', {'id': activite.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset>
            <legend>Membres actifs <a href="{{ path('membres_actifs', {'id': kermesse.id}) }}" class="btn btn-primary"><i class="fas fa-user-plus"></i></a></legend>
            <div class="row">
                {% if kermesse.membres is empty %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Aucun membre actif</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for membre in kermesse.membres %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">{{ membre.prenom }} {{ membre.nom }}</h5>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>
{% endblock %}