{% extends 'base.html.twig' %}

{% block title %}Kermesse - Planning{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/planning.css') }}">
{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between mt-3 mb-3">
        <div class="custom-control custom-switch d-none d-lg-block">
            <input type="checkbox" class="custom-control-input" id="afficherIncomplets">
            <label class="custom-control-label" for="afficherIncomplets">Masquer les créneaux incomplets</label>
        </div>
        <div>
            Code couleur par taux d'inscription :
            <div class="btn-group" role="group" aria-label="Code couleur">
                <button type="button" class="btn btn-danger">&lt; 50% <i class="far fa-sad-cry"></i></button>
                <button type="button" class="btn btn-warning">&ge; 50% <i class="far fa-frown-open"></i></button>
                <button type="button" class="btn btn-primary">&ge; 75% <i class="far fa-meh"></i></button>
                <button type="button" class="btn btn-success">100% <i class="far fa-laugh-wink"></i></button>
            </div>
        </div>
    </div>
    <div>
        Taux global d'inscription
        {{ include('kermesse/progress.html.twig', {el: planning}, with_context = false) }}
    </div>

    <div id="planning" class="d-none d-lg-block activite-desc-listener" style="position: relative;">
        <div class="row pt-3 pb-3 border-bottom">
            <div class="col-1">Date</div>
            <div class="col">
                <div class="row">
                    <div class="col-2">Activité</div>
                    <div class="col"><div class="row" style="height: 100%;">
                        {% for i in 0..(nbCols - 1) %}
                            <div class="col planning-entete">
                                {% if loop.first %}
                                    <span class="planning-heure" style="left:0;">{{ planning.debut|date('H') }}:00</span>
                                {% elseif i is divisible by(2) %}
                                    <span class="planning-heure" style="left:-20%;">{{ (i / 2) + planning.debut|date('H') }}:00</span>
                                {% endif %}
                                {% if loop.last %}
                                    <span class="planning-heure" style="right:0;">{{ 1 + (i // 2) + planning.debut|date('H') }}:00</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div></div>
                </div>
            </div>
        </div>
        {% for ligne in planning.lignes %}
            <div class="row pt-3 pb-3 border-bottom planning-ligne">
                <div class="col-1 ligne-date">{{ ligne.date|date('d/m/Y') }}</div>
                <div class="col ligne-activites">
                    {% for activite in ligne.activites %}
                        <div class="row ligne-activite mb-1">
                            <div class="col-2 activite-nom">{{ activite.nom }}{% if activite.description %}
                                    <button type="button" class="btn btn-link activite-desc-btn" data-activite="{{ activite.nom }}" data-description="{{ activite.description }}" data-toggle="modal" data-target="#activite-desc-modal" style="padding: 0; border: 0;">
                                        <i class="fas fa-question-circle"></i>
                                    </button>
                                {% endif %}</div>
                            <div class="col activite-lignes-creneaux">
                            {% for ligneCreneaux in activite.lignesCreneaux %}
                                <div class="row activite-ligne-creneaux">
                                    {% for creneau in ligneCreneaux.creneaux %}
                                        {% if loop.first and creneau.offset(planning) > 0 %}
                                            <div style="width: {{ creneau.offset(planning) }}%"></div>
                                        {% endif %}
                                        <div data-toggle="tooltip" data-placement="top"
                                             data-creneau="{{ creneau.id }}"
                                             data-migration-url="{{ path('demande_migration', {'code': codeEtablissement, 'id': creneau.id, 'to': '__to__'}) }}"
                                             title="De {{ creneau.debut|date('H:i') }} à {{ creneau.fin|date('H:i') }}"
                                             class="activite-creneau p-1
                                                    {% if not creneau.complet %}creneau-incomplet{% endif %}
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        droppable
                                                        {% if not creneau.complet and (creneau.benevoles(false) or creneau.benevoles) %}
                                                            draggable
                                                        {%  endif %}
                                                    {% endif %}
                                                    {% if not creneau.tauxBenevoles %}
                                                        creneau-vide
                                                    {% elseif creneau.complet %}
                                                        creneau-complet
                                                    {% endif %}
"
                                             style="width: {{ creneau.tailleRelative(planning) }}%">
                                            <a
                                                    href="{% if creneau.complet %}#{% else %}{{ path('inscription_benevole', {'id': activite.id, 'code': codeEtablissement, 'idCreneau': creneau.id}) }}{% endif %}"
                                                    type="button"
                                                    class="btn btn-block
                                                    {% if creneau.complet %}
                                                        btn-success
                                                    {% elseif creneau.tauxBenevoles >= 75 %}
                                                        btn-primary
                                                    {% elseif creneau.tauxBenevoles >= 50 %}
                                                        btn-warning
                                                    {% else %}
                                                        btn-danger
                                                    {% endif %}">

                                                {% for benevole in creneau.benevoles %}
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <span class="identite-benevole" data-benevole-id="{{ benevole.id }}"
                                                              data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                              title="<div><i class='fas fa-envelope'></i> {{ benevole.email }}</div><div><i class='fas fa-mobile'></i> {{ benevole.tel }}</div>">{{ benevole.identite }}</span>
                                                    {% else %}
                                                        {{ benevole.identite }}
                                                    {% endif %}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                                {% if creneau.nbRequis != creneau.nbValides %}
                                                    ({{ creneau.proportion }})
                                                {% endif %}
                                                {% if is_granted('IS_AUTHENTICATED_FULLY') and not creneau.complet and (creneau.benevoles(false) or creneau.benevoles) %}
                                                    <span class="drag-grip"><i class="fas fa-grip-horizontal"></i></span>
                                                {% endif %}
                                                {% if creneau.benevoles(false) and is_granted('IS_AUTHENTICATED_FULLY') %}
                                                    <br /><i class="fas fa-user-clock"></i>
                                                    {% for benevole in creneau.benevoles(false) %}
                                                        <span class="identite-benevole" data-benevole-id="{{ benevole.id }}"
                                                              data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                              title="<div><i class='fas fa-envelope'></i> {{ benevole.email }}</div><div><i class='fas fa-mobile'></i> {{ benevole.tel }}</div>">{{ benevole.identite }}</span>
                                                        {% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="d-lg-none row pt-3 pb-3 border-bottom activite-desc-listener">
        {% for ligne in planning.lignes %}
            {% for activite in ligne.activites %}
                <div class="col-sm-6 mb-3">
                    {% include "kermesse/planning_card.html.twig" with {'dateact': ligne.date, 'activite': activite, 'codeEtablissement': codeEtablissement} only %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div id="toast" class="toast" style="position: absolute; top: 0; right: 0;" data-delay="10000">
            <div class="toast-header">
                <strong class="mr-auto">Notification</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Lien copié dans le presse papier.
            </div>
        </div>
        <div class="d-flex flex-row justify-content-between mt-3 mb-3">
            <button type="button"
                    id="copy-link"
                    class="btn btn-success"
                    data-link="{{ app.request.getSchemeAndHttpHost() ~ path('benevoles_planning', {'code': app.user.username}) }}"
            >Copier le lien à fournir aux bénévoles</button>
            <a href="{{ path('planning_valider', {'id': planning.idKermesse}) }}" class="btn btn-primary" role="button"><i class="far fa-calendar-check"></i> Valider le planning</a>
        </div>
        <div id="modal-migration" class="modal" tabindex="-1" role="dialog"></div>
        <!-- Modal -->
        <div class="modal fade" id="activite-desc-modal" tabindex="-1" aria-labelledby="activite-desc-modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="activite-desc-modal-label"><span id="activite-desc-modal-title"></span> - Description</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="white-space: pre-line">
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/planning.js') }}"></script>{% endblock %}
