{% extends 'base.html.twig' %}

{% block title %}Kermesse - Planning{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/planning.css') }}">{% endblock %}

{% block body %}
    <div class="d-flex flex-row justify-content-between mt-3 mb-3">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="afficherIncomplets">
            <label class="custom-control-label" for="afficherIncomplets">Afficher les créneaux incomplets</label>
        </div>
        <div>
            Code couleur par taux d'inscription :
            <button type="button" class="btn btn-danger">- de 50% <i class="far fa-sad-cry"></i></button>
            <button type="button" class="btn btn-warning">Au moins 50% <i class="far fa-frown-open"></i></button>
            <button type="button" class="btn btn-primary">Au moins 75% <i class="far fa-meh"></i></button>
            <button type="button" class="btn btn-success">100% <i class="far fa-laugh-wink"></i></button>
        </div>
    </div>
    <div id="planning" style="position: relative;">
        <div class="row pt-3 pb-3 border-bottom">
            <div class="col-1">Date</div>
            <div class="col">
                <div class="row">
                    <div class="col-2">Activité</div>
                    <div class="col"><div class="row" style="height: 100%;">
                        {% for i in 0..(nbCols - 1) %}
                            <div class="col planning-entete">
                                {% if loop.first %}
                                    <span class="planning-heure" style="left:0;">{{ planning.debut|date('H') }}:00</span>
                                {% elseif i is divisible by(2) %}
                                    <span class="planning-heure" style="left:-20%;">{{ (i / 2) + planning.debut|date('H') }}:00</span>
                                {% endif %}
                                {% if loop.last %}
                                    <span class="planning-heure" style="right:0;">{{ 1 + (i // 2) + planning.debut|date('H') }}:00</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div></div>
                </div>
            </div>
        </div>
        {% for ligne in planning.lignes %}
            <div class="row pt-3 pb-3 border-bottom planning-ligne">
                <div class="col-1 ligne-date">{{ ligne.date|date('d/m/Y') }}</div>
                <div class="col ligne-activites">
                    {% for activite in ligne.activites %}
                        <div class="row ligne-activite mb-1">
                            <div class="col-2 activite-nom">{{ activite.nom }}</div>
                            <div class="col activite-lignes-creneaux">
                            {% for ligneCreneaux in activite.lignesCreneaux %}
                                <div class="row activite-ligne-creneaux">
                                    {% for creneau in ligneCreneaux.creneaux %}
                                        {% if loop.first and creneau.offset(planning) > 0 %}
                                            <div style="width: {{ creneau.offset(planning) }}%"></div>
                                        {% endif %}
                                        <div data-toggle="tooltip" data-placement="top"
                                             title="De {{ creneau.debut|date('H:i') }} à {{ creneau.fin|date('H:i') }}"
                                             class="activite-creneau p-1 {% if not creneau.complet %}creneau-incomplet{% endif %}"
                                             style="width: {{ creneau.tailleRelative(planning) }}%">
                                            <a
                                                    href="{% if creneau.complet %}#{% else %}{{ path('inscription_benevole', {'id': activite.id, 'code': codeEtablissement}) }}{% endif %}"
                                                    type="button"
                                                    class="btn btn-lg btn-block btn-sm
                                                    {% if creneau.complet %}
                                                        btn-success
                                                     {% elseif creneau.tauxBenevoles >= 75 %}
                                                        btn-primary
                                                     {% elseif creneau.tauxBenevoles >= 50 %}
                                                        btn-warning
                                                     {% else %}
                                                        btn-danger
                                                     {% endif %}">
                                                {% for benevole in creneau.benevoles %}
                                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                                        <span data-toggle="tooltip" data-placement="bottom" data-html="true"
                                                              title="<div><i class='fas fa-envelope'></i> {{ benevole.email }}</div><div><i class='fas fa-mobile'></i> {{ benevole.tel }}</div>">{{ benevole.identite }}</span>
                                                    {% else %}
                                                        {{ benevole.identite }}
                                                    {% endif %}
                                                    {% if not loop.last %}, {% endif %}
                                                {% endfor %}
                                                ({{ creneau.proportion }})
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/planning.js') }}"></script>{% endblock %}
