<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-tag"></i> {{ recette.libelle }}</h5>
        {% if activite is not defined %}<p class="card-text" data-toggle="tooltip" title="Activité"><i class="fas fa-cubes"></i> {{ recette.activite }}</p>{% endif %}
        <p class="card-text" data-toggle="tooltip" title="Date"><i class="fas fa-calendar"></i> {{ recette.date }}</p>
        <p class="card-text" data-toggle="tooltip" title="Nombre de tickets"><i class="fas fa-ticket-alt"></i> {{ recette.nombreTickets }}</p>
        <p class="card-text" data-toggle="tooltip" title="Montant"><i class="fas fa-euro-sign"></i> {{ recette.montant }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ path('editer_recette', {'id': recette.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
        <a href="{{ path('supprimer_recette', {'id': recette.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?.');"><i class="fas fa-trash-alt"></i></a>
    </div>
</div>