<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-tag"></i> {{ recette.libelle }}</h5>
        {% if activite is not defined %}<p class="card-text" data-toggle="tooltip" title="Activité"><i class="fas fa-cubes"></i> {{ recette.activite }}</p>{% endif %}
        <p class="card-text" data-toggle="tooltip" title="Date"><i class="fas fa-calendar"></i> {{ recette.date }}</p>
        <p class="card-text" data-toggle="tooltip" title="Nombre de tickets"><i class="fas fa-ticket-alt"></i> {{ recette.nombreTickets }}</p>
        <p class="card-text" data-toggle="tooltip" title="Montant"><i class="fas fa-euro-sign"></i> {{ recette.montant }}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Actions">
        <a href="#" data-ajax="{{ path('editer_recette', {'id': recette.id}) }}" class="btn btn-primary ajax-reload-element" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
        <a href="#" data-ajax="{{ path('supprimer_recette', {'id': recette.id}) }}" class="btn btn-danger ajax-reload" data-ajax-validation="true" data-toggle="tooltip" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
        </div>
    </div>
</div>
