<table class="table">
    {% include "header.html.twig" with {'colonnes': colonnes, 'order': order, 'search': search} only %}
    <tbody>
    {% for recette in recettes %}
        <tr class="table-light">
            <th scope="row">{{ recette.id }}</th>
            <td>{{ recette.date }}</td>
            {% if activite is not defined %}<td>{{ recette.activite }}</td>{% endif %}
            <td>{{ recette.libelle }}</td>
            <td>{{ recette.nombreTickets }}</td>
            <td>{{ recette.montant }}</td>
            <td>
                <a href="#" data-ajax="{{ path('editer_recette', {'id': recette.id}) }}" class="btn btn-primary ajax-reload"><i class="fas fa-edit"></i> Éditer</a>
                <a href="#" data-ajax="{{ path('supprimer_recette', {'id': recette.id}) }}" class="btn btn-danger ajax-reload" data-ajax-validation="true"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
    {% else %}
        <tr class="table-light"><td colspan="{% if activite is not defined %}7{% else %}6{% endif %}">Aucune recette</td></tr>
    {% endfor %}
    </tbody>
    {% if recettes is not empty %}
        <tfoot>
            <tr class="table-dark">
                <th scope="row" colspan="{% if activite is not defined %}4{% else %}3{% endif %}">Total</th>
                <td>{{ total.nombre_ticket }}</td>
                <td>{{ total.montant }}</td>
                <td></td>
            </tr>
        </tfoot>
    {% endif %}
</table>
