<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-user"></i> {{ membre.identite }}</h5>
        <p class="card-text" data-toggle="tooltip" title="Adresse e-mail"><i class="fas fa-at"></i> {{ membre.email }}</p>
        <p class="card-text" data-toggle="tooltip" title="Non remboursé"><i class="fas fa-credit-card"></i> {{ membre.montantNonRembourse }}</p>
        <p class="card-text" data-toggle="tooltip" title="En attente de remboursement"><i class="fas fa-spinner fa-spin"></i> {{ membre.montantAttenteRemboursement }}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Actions">
            <a href="#" data-ajax="{{ path('save_membre', {'id': membre.id}) }}" data-role="edit" class="btn btn-primary ajax-reload" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
            {% if membre.email is not empty %}<a href="#" data-ajax="{{ path('contacter_membre', {'id': membre.id}) }}" class="btn btn-warning" data-toggle="tooltip" title="Contacter"><i class="fas fa-envelope"></i></a>{% endif %}
            {% if membre.aRembourser %}<a href="#" data-ajax="{{ path('demande_remboursement', {'id': membre.id}) }}" class="btn btn-secondary ajax-reload" data-toggle="tooltip" title="Demander remboursement"><i class="fas fa-money-check"></i></a>{% endif %}
            {% if membre.enAttenteRemboursement %}
                <a href="#" data-ajax="{{ path('renvoyer_demande', {'id': membre.idPremierRemboursementAttente}) }}" class="btn btn-warning" data-toggle="tooltip" title="Renvoyer email de demande"><i class="fas fa-retweet"></i></a>
                <a href="#" data-ajax="{{ path('valider_remboursement', {'id': membre.idPremierRemboursementAttente}) }}" class="btn btn-success ajax-reload" data-toggle="tooltip" title="Confirmer remboursement"><i class="fas fa-clipboard-check"></i></a>
            {% endif %}
        </div>
    </div>
</div>
