<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col"><i class="fas fa-user"></i> Identité</th>
        <th scope="col"><i class="fas fa-at"></i> Adresse e-mail</th>
        <th scope="col"><i class="fas fa-euro-sign"></i> À rembourser</th>
        <th scope="col"><i class="fas fa-euro-sign"></i> En attente</th>
        <th scope="col"><i class="fab fa-telegram-plane"></i> Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for membre in membres %}
        <tr class="table-light">
            <th scope="row">{{ membre.id }}</th>
            <td>{% if membre.gestionnaire %}<i class="fas fa-user-tie"></i> {% endif %}{{ membre.identite }}</td>
            <td>{{ membre.email }}</td>
            <td>{{ membre.montantNonRembourse }}</td>
            <td>{{ membre.montantAttenteRemboursement }}</td>
            <td>
                <a href="{{ path('editer_membre', {'id': membre.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
                {% if membre.email is not empty %}<a href="{{ path('contacter_membre', {'id': membre.id}) }}" class="btn btn-warning" data-toggle="tooltip" title="Contacter"><i class="fas fa-envelope"></i></a>{% endif %}
                {% if membre.aRembourser %}<a href="{{ path('demande_remboursement', {'id': membre.id}) }}" class="btn btn-secondary" data-toggle="tooltip" title="Demander remboursement"><i class="fas fa-money-check"></i></a>{% endif %}
                {% if membre.enAttenteRemboursement %}
                    <a href="{{ path('renvoyer_demande', {'id': membre.idPremierRemboursementAttente}) }}" class="btn btn-warning" data-toggle="tooltip" title="Renvoyer email de demande"><i class="fas fa-retweet"></i></a>
                    <a href="{{ path('valider_remboursement', {'id': membre.idPremierRemboursementAttente}) }}" class="btn btn-success" data-toggle="tooltip" title="Confirmer remboursement"><i class="fas fa-clipboard-check"></i></a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="table-light"><td colspan="5">Aucun membre</td></tr>
    {% endfor %}
    </tbody>
</table>
