<h3>Bonjour {{ identite }},</h3>
<p>
    Votre participation à l'activité «{{ activite }}», le {{ date|date("d/m/Y") }}, de {{ debut|date("H:i") }} à {{ fin|date("H:i") }}, a été {% if refus %}annulée{% else %}validée{% endif %} par l'équipe.
</p>
<p>
    Merci,<br />
    L'équipe de la kermesse
</p>
