{% extends 'base.html.twig' %}

{% block title %}
    Kermesses
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <fieldset>
            <legend>Nos kermesses <a href="{{ path('nouvelle_kermesse') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a></legend>
            <div class="row">
                {% if kermesses is empty %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Aucune kermesse</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for kermesse in kermesses %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-calendar"></i> {{ kermesse.annee }} - {{ kermesse.theme }}</h5>
                                {% if kermesse.MontantTicket > 0 %}
                                    <p class="card-text"><i class="fas fa-ticket-alt"></i> {{ montants[kermesse.id]['ticket'] }}</p>
                                {% endif %}
                                <p class="card-text"><i class="fas fa-plus"></i> {{ montants[kermesse.id]['recette'] }}</p>
                                <p class="card-text"><i class="fas fa-minus"></i> {{ montants[kermesse.id]['depense'] }}</p>
                                <hr />
                                <p class="card-text"><i class="fas fa-balance-scale"></i> {{ montants[kermesse.id]['balance'] }}</p>
                            </div>
                            <div class="card-footer">
                                <a href="{{ path('kermesse', {'id': kermesse.id}) }}" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                <a href="{{ path('editer_kermesse', {'id': kermesse.id}) }}" class="btn btn-secondary"><i class="fas fa-edit"></i></a>
                                <a href="{{ path('nouveau_ticket', {'id': kermesse.id}) }}" class="btn btn-danger"><i class="fas fa-receipt"></i></a>
                                <a href="{{ path('nouvelle_recette', {'id': kermesse.id}) }}" class="btn btn-success"><i class="fas fa-donate"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
        <fieldset>
            <legend>Nos membres <a href="{{ path('nouveau_membre') }}" class="btn btn-primary"><i class="fas fa-plus"></i></a></legend>
            <div class="row">
                {% if membres is empty %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">Aucun membre</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% for membre in membres %}
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2">
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title"><i class="fas fa-user"></i> {{ membre.prenom }} {{ membre.nom }}</h5>
                                <p class="card-text"><i class="fas fa-at"></i> {{ membre.email }}</p>
                                <a href="#" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    </div>

{% endblock %}