{% extends 'base.html.twig' %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/ticket_form.css') }}">{% endblock %}

{% block title %}Dépense{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-sm-10 col-md-8 col-xl-5">
            <div class="well">
                <fieldset>
                    <legend><i class="{% block legend_icon %}fas fa-plus-circle{% endblock %}"></i> Dépense</legend>
                    {{ form_start(form) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.fournisseur) }}
                    {{ form_row(form.numero) }}
                    {{ form_row(form.montant) }}
                    {{ form_row(form.membre) }}
                    {{ form_row(form.duplicata) }}
                    {{ form_row(form.depenses) }}
                    <button type="button"
                            class="add-another-collection-widget btn btn-secondary"
                            data-list="#ticket_depenses">Lier le ticket à une autre activité</button>
                    <button class="btn btn-primary" type="submit">Enregistrer !</button>
                    {{ form_end(form) }}
                </fieldset>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/ticket_form.js') }}"></script>{% endblock %}