    <table class="table">
        {% include "header.html.twig" with {'colonnes': colonnes, 'rows': rows, 'order': order, 'search': true} only %}
        <tbody>
        {% for row in rows %}
            <tr {% if not row.completementAffecte %}class="table-danger"{% endif %}>
                <th scope="row">{{ row.id }}</th>
                <td><span  data-toggle="tooltip" title="{{ row.etat }}">{{ row.pastilleEtat|raw }}</span></td>
                <td>{{ row.date }}</td>
                <td>{{ row.acheteur }}</td>
                <td>{{ row.numero }}</td>
                <td>{{ row.fournisseur }}</td>
                <td>{{ row.montant }}</td>
                <td>{{ row.activitesLiees }}</td>
                <td>
                    <a href="{{ path('editer_ticket', {'id': row.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
                    {% if row.cheminFichier is not empty %}<a href="{{ asset('uploads/tickets/' ~ row.cheminFichier) }}" target="_blank" class="btn btn-secondary" data-toggle="tooltip" title="Duplicata"><i class="fas fa-file-image"></i></a>{% endif %}
                    <a href="{{ path('supprimer_ticket', {'id': row.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="8">Aucune dépense</td></tr>
        {% endfor %}
        </tbody>
        {% if total is defined %}
            <tfoot>
                <tr>
                    <th scope="row" colspan="6">Total</th>
                    <td>{{ total }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        {% endif %}
    </table>