    <table class="table">
        {% include "header.html.twig" with {'colonnes': colonnes, 'order': order, 'search': true} only %}
        <tbody>
        {% for row in rows %}
            <tr class="{% if not row.completementAffecte %}table-danger{% else %}table-light{% endif %}">
                <th class="align-middle" scope="row" {% if row.commentaire %}rowspan="2"{% endif %}>{{ row.id }}</th>
                <td class="align-middle"><span data-toggle="tooltip" title="{{ row.etat }}">{{ row.pastilleEtat|raw }}</span></td>
                <td class="align-middle">{{ row.date }}</td>
                <td class="align-middle">{{ row.acheteur }}</td>
                <td class="align-middle">{{ row.numero }}</td>
                <td class="align-middle">{{ row.fournisseur }}</td>
                <td class="align-middle">{{ row.montant }}</td>
                <td class="align-middle">{{ row.activitesLiees }}</td>
                <td class="align-middle" {% if row.commentaire %}rowspan="2"{% endif %}>
                    <a href="{{ path('editer_ticket', {'id': row.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
                    {% if row.cheminFichier is not empty %}
                        <a href="{{ app.request.getSchemeAndHttpHost() ~ path('ticket_duplicata', {'id': row.id}) }}" target="_blank" class="btn btn-secondary" data-toggle="tooltip" title="Duplicata"><i class="fas fa-file-image"></i></a>
                    {% endif %}
                    {% if row.entity.etat == 0 %}<a href="{{ path('supprimer_ticket', {'id': row.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?.');"><i class="fas fa-trash-alt"></i></a>{% endif %}
                </td>
            </tr>
            {% if row.commentaire %}
                <tr class="table-light">
                    <td colspan="7" class="font-italic border-top-0">{{ row.commentaire }}</td>
                </tr>
            {% endif %}
        {% else %}
            <tr class="table-light"><td colspan="8">Aucune dépense</td></tr>
        {% endfor %}
        </tbody>
        {% if total is defined %}
            <tfoot>
                <tr class="table-dark">
                    <th scope="row" colspan="6">Total</th>
                    <td>{{ total }}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        {% endif %}
    </table>
