<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col"><i class="fas fa-calendar"></i> Date</th>
        <th scope="col"><i class="fas fa-user"></i> Acheteur</th>
        <th scope="col"><i class="fas fa-barcode"></i> N°</th>
        <th scope="col"><i class="fas fa-truck"></i> Fournisseur</th>
        <th scope="col"><i class="fas fa-receipt"></i> Montant</th>
        <th scope="col"><i class="fas fa-link"></i> Montant affecté</th>
        <th scope="col"><i class="fab fa-telegram-plane"></i> Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for ticket in tickets %}
        <tr {% if ticket.montantEuro is not same as(ticket.montantAffecte) %}class="table-danger"{% endif %}>
            <th scope="row">{{ ticket.id }}</th>
            <td>{{ ticket.date|date('d/m/Y') }}</td>
            <td>{{ ticket.membre.prenom }} {{ ticket.membre.nom }}</td>
            <td>{{ ticket.numero }}</td>
            <td>{{ ticket.fournisseur }}</td>
            <td>{{ ticket.montantEuro }}</td>
            <td>{{ ticket.montantAffecte }}</td>
            <td>
                <a href="{{ path('editer_ticket', {'id': ticket.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Éditer</a>
                <a href="{{ path('supprimer_ticket', {'id': ticket.id}) }}" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Supprimer</a>
            </td>
        </tr>
    {% else %}
        <tr><td colspan="8">Aucun ticket</td></tr>
    {% endfor %}
    </tbody>
</table>