{% extends 'base.html.twig' %}

{% block title %}Actions{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background: url("/imgs/actions_bg.jpg");
        }
        .loader {
            height: 310px;
        }
    </style>
{% endblock %}

{% block body %}
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item">
                <a class="page-link" href="{{ path('lister_actions', {'annee': annee - 1}) }}"><i class="fas fa-chevron-left"></i></a>
            </li>
            <li class="page-item" aria-current="page">
                <span class="page-link">Actions {{ periode.debut|date('Y') }}-{{ periode.fin|date('Y') }}</span>
            </li>
            <li class="page-item">
                <a class="page-link" href="{{ path('lister_actions', {'annee': annee + 1}) }}"><i class="fas fa-chevron-right"></i></a>
            </li>
        </ul>
    </nav>
    {% if courante %}
        <div class="d-flex flex-row justify-content-center mb-3">
            <a href="{{ path('nouvelle_autre_activite') }}" class="btn btn-primary" data-toggle="tooltip" title="Nouvelle action"><i class="fas fa-plus"></i> Nouvelle action</a>
        </div>
    {% endif %}
    <div class="row">
        {% if activites is empty %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="card text-center">
                <h5 class="card-title">Aucune action</h5>
            </div>
        </div>
        {% endif %}
        {% for activite in activites %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3 ajax" data-ajax-url="{{ path('carte_activite', {'id': activite.id}) }}">
            </div>
        {% endfor %}
    </div>
{% endblock %}
