<div class="card text-center">
    <div class="card-header">
        <h5>{{ card.titre }}</h5>
    </div>
    <div class="card-body d-flex flex-column justify-content-between" style="min-height: 205px;">
        <div>
            <p class="card-text" data-toggle="tooltip" title="Dépenses"><i class="fas fa-receipt"></i> {{ card.depense }}</p>
            {% if card.recette is not empty %}
                <p class="card-text" data-toggle="tooltip" title="Recette"><i class="fas fa-money-bill-wave-alt"></i> {{ card.recette }}</p>
            {% endif %}
            {% if card.nombreTickets is not empty %}
                <p class="card-text" data-toggle="tooltip" title="Nombre de tickets"><i class="fas fa-ticket-alt"></i> {{ card.nombreTickets }}</p>
            {% endif %}
            {% if card.nombreBenevolesRequis > 0 %}
                <p class="card-text" data-toggle="tooltip" title="Bénévoles requis">
                    <i class="fas fa-users"></i> {{ card.nombreBenevolesInscrits }} / {{ card.nombreBenevolesRequis }}
                    {% if card.nombreBenevolesEnAttente > 0 %} <i class="fas fa-user-clock"></i> {{card.nombreBenevolesEnAttente}}{% endif %}
                </p>
            {% endif %}
        </div>
        <div>
            <hr />
            <p class="card-text">Total : {{ card.total }}</p>
        </div>
    </div>
    <div class="card-footer pb-0">
        <div class="btn-group mb-3" role="group" aria-label="Actions de gestion">
            <a href="{{ path('activite', {'id': card.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Détail"><i class="fas fa-eye"></i></a>
            {% if not card.activite.caisseCentrale %}
                <a href="{{ path('editer_activite', {'id': card.id}) }}" class="btn btn-secondary" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></a>
                {% if card.total == 0.0 %}<a href="{{ path('supprimer_activite', {'id': card.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?.');"><i class="fas fa-trash-alt"></i></a>{% endif %}
            {% endif %}
        </div>
        <div class="btn-group mb-3" role="group" aria-label="Actions">
            <a href="{{ path('nouvelle_recette_activite', {'id': card.id}) }}" class="btn btn-success" data-toggle="tooltip" title="Nouvelle recette"><i class="fas fa-donate"></i></a>
            <a href="{{ path('nouveau_ticket_action', {'id': card.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Nouvelle dépense"><i class="fas fa-receipt"></i></a>
            {% if not card.activite.caisseCentrale and card.activite.kermesse is not null %}
                <a href="{{ path('gerer_benevoles', {'id': card.id}) }}" class="btn btn-warning" data-toggle="tooltip" title="Gérer les bénévoles"><i class="fas fa-users-cog"></i></a>
            {% endif %}
        </div>
    </div>
</div>
