<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title">{{ card.titre }}</h5>
        <p class="card-text" data-toggle="tooltip" title="Dépenses"><i class="fas fa-receipt"></i> {{ card.depense }}</p>
        {% if card.recette is not empty %}
            <p class="card-text" data-toggle="tooltip" title="Recette"><i class="fas fa-money-bill-wave-alt"></i> {{ card.recette }}</p>
        {% endif %}
        {% if card.nombreTickets is not empty %}
            <p class="card-text" data-toggle="tooltip" title="Nombre de tickets"><i class="fas fa-ticket-alt"></i> {{ card.nombreTickets }}</p>
        {% endif %}
        <hr />
        <p class="card-text">Total : {{ card.total }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ path('activite', {'id': card.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Détail"><i class="fas fa-eye"></i></a>
        <a href="{{ path('nouvelle_recette_activite', {'id': card.id}) }}" class="btn btn-success" data-toggle="tooltip" title="Nouvelle recette"><i class="fas fa-donate"></i></a>
        {% if not card.activite.caisseCentrale %}
            <a href="{{ path('editer_activite', {'id': card.id}) }}" class="btn btn-secondary" data-toggle="tooltip" title="Modifier"><i class="fas fa-edit"></i></a>
            {% if card.total == 0.0 %}<a href="{{ path('supprimer_activite', {'id': card.id}) }}" class="btn btn-danger" data-toggle="tooltip" title="Supprimer" onclick="return confirm('Êtes-vous sûr ?.');"><i class="fas fa-trash-alt"></i></a>{% endif %}
        {% endif %}
    </div>
</div>