<div class="modal fade" id="activite{{ id }}-desc-modal" tabindex="-1" aria-labelledby="activite{{ id }}-desc-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activite{{ id }}-desc-modal-label">{{ titre }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <dl>
                    {% if contentModal.type %}
                        <dt>Type</dt>
                        <dd>{{ contentModal.type }}</dd>
                    {% endif %}
                    {% if contentModal.description %}
                        <dt>Description</dt>
                        <dd>{{ contentModal.description|nl2br }}</dd>
                    {% endif %}
                </dl>
            </div>
        </div>
    </div>
</div>