{% extends 'modal.html.twig' %}

{% block title %}Activité{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/activite_form.css') }}">{% endblock %}

{% block body %}
    {{ form_row(form.nom) }}
    {{ form_row(form.date) }}
    {{ form_row(form.type) }}
    {{ form_row(form.new_type_activite) }}
    {{ form_row(form.description) }}
    {% if kermesse is not null %}
        <!-- TODO : Do some JS to hide accepteTicket if only for planning and hide nombre de bénévoles -->
        {{ form_row(form.onlyForPlanning) }}
        {{ form_row(form.accepteTickets) }}
        <div class="well">
            <fieldset>
                <legend class="d-none d-xl-block">Créneaux horaire</legend>
                {{ form_row(form.creneaux) }}
                <button type="button"
                        class="add-another-collection-widget btn btn-secondary"
                        data-list="#activite_creneaux">Ajouter un créneau horaire</button>
            </fieldset>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}<script src="{{ asset('js/activite_form.js') }}"></script>{% endblock %}
