{% extends 'base.html.twig' %}

{% block title %}Activité - {{ activite.nom }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-sm-6 mb-3 ajax" data-ajax-url="{{ path('carte_activite', {'id': activite.id}) }}">
            <i class="fab fa-yelp fa-pulse fa-4x"></i>
        </div>
    </div>
    <fieldset>
        <legend>Recettes <a href="#" data-ajax="{{ path('nouvelle_recette_activite', {'id': activite.id}) }}" class="btn btn-primary ajax-reload" data-toggle="tooltip" title="Nouvelle recette"><i class="fas fa-plus"></i></a></legend>
        <div class="row d-none d-lg-block">
            {% include "recette/table.html.twig" with {'recettes': recettes, 'total': total_recettes, 'activite': activite, 'colonnes': colonnes, 'order': order, 'search': false, 'for_kermesse': for_kermesse} only %}
        </div>
        <div class="row d-lg-none">
            {% if recettes is empty %}
                <div class="col-sm-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucune recette</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for recette in recettes %}
                <div class="col-sm-6 mb-3">
                    {% include "recette/card.html.twig" with {'recette': recette, 'for_kermesse': for_kermesse} only %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
    <fieldset>
        <legend>Dépenses <span class="d-lg-none">(Total : {{ total_depenses }}) </span><a href="{{ path('nouveau_ticket_action', {'id': activite.id}) }}" class="btn btn-primary" data-toggle="tooltip" title="Nouvelle dépense"><i class="fas fa-plus"></i></a></legend>
        <div class="row d-none d-lg-block">
            {% include "depense/table.html.twig" with {'depenses': depenses, 'total': total_depenses} only %}
        </div>
        <div class="row d-lg-none">
            {% if depenses is empty %}
                <div class="col-sm-6 mb-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Aucune dépense</h5>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% for depense in depenses %}
                <div class="col-sm-6 mb-3">
                    {% include "depense/card.html.twig" with {'depense': depense} only %}
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endblock %}
