<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">
        <link rel="stylesheet" href="{{ asset('bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/colors.css') }}">
        <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.structure.min.css') }}">
        <link rel="stylesheet" href="{{ asset('js/jquery-ui/jquery-ui.theme.min.css') }}">
        <title>{% block title %}LA kermesse{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header class="navbar navbar-expand navbar-dark flex-row bd-navbar fixed-top justify-content-between">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="Kermesse">{% block headertitle %}<img id="logo" src="{{ asset('imgs/logo_texte64.png') }}"  alt="logo" />{% endblock %}</a>
        {% if menu is defined %}
            <a class="btn btn-secondary d-lg-none" href="#" id="show-menu-slim"><i class="fas fa-bars"></i></a>
        {% endif %}
        {% if app.user is not empty %}
            <ul class="navbar-nav flex-row ml-md-auto d-none d-lg-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="user-infos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% include "icon.html.twig" with {'icon': 'user'} only %} {{ app.user.nom }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-infos">
                        <a class="dropdown-item" data-ajax="{{ path('editer_etablissement') }}" data-ajax-destination="#main-modal-form" href="#">{% include "icon.html.twig" with {'icon': 'edit'} only %} Éditer</a>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">{% include "icon.html.twig" with {'icon': 'sign-out-alt'} only %} Déconnexion</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </header>
    {% if menu is defined %}
        <aside class="col-md-2 d-none d-lg-block px-0 sidebar-sticky fixed-top">
            <nav class="sidebar-nav">
                {% include "menu.html.twig" with {'menu': menu, 'menu_main': true} only %}
                <div style="position: absolute;bottom: 10px; left: 10px;">{% include "tipee.html.twig" with {'texte': ' Donner'} only %}</div>
            </nav>
        </aside>
        {% include "menu_slim.html.twig" with {'menu': menu} only %}
    {% endif %}

        <div id="main-container" class="container-fluid">
            {% if breadcrumb is defined %}
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for link in breadcrumb.links %}
                                {% if link.active %}
                                    <li class="breadcrumb-item active" aria-current="page">
                                {% else %}
                                    <li class="breadcrumb-item"><a href="{{ link.href }}">
                                {% endif %}
                                {% if link.icon is not empty %}{% include "icon.html.twig" with {'icon': link.icon} only %} {% endif %}{{ link.name }}
                                {% if not link.active %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            {% endif %}
            <div class="row justify-content-end">
                <div class="col-lg-{% if menu is defined %}10{% else %}12{% endif %}">
                    <div class="container-fluid pt-3">
                        <div id="alerts-container">
                            {% for label, messages in app.flashes %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert" style="z-index: 1000;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="main-modal-form" tabindex="-1" role="dialog" aria-labelledby="main-modal-form-title" aria-hidden="true">
        </div>

        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>
        <script src="{{ asset('bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}" charset="UTF-8"></script>
        <script src="{{ asset('bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js') }}" charset="UTF-8"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
