<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.css">
        <link rel="stylesheet" href="/bootstrap-datepicker/css/bootstrap-datepicker3.standalone.min.css">
        <link rel="stylesheet" href="/css/main.css">
        <title>{% block title %}BdzKermesse{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" href="/" aria-label="BdzKermesse">BdzKermesse</a>
        {% if app.user is not empty %}
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="user-infos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% include "icon.html.twig" with {'icon': 'user'} only %} {{ app.user.nom }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="user-infos">
                        <a class="dropdown-item" href="{{ path('editer_etablissement') }}">{% include "icon.html.twig" with {'icon': 'edit'} only %} Éditer</a>
                        <a class="dropdown-item" href="{{ path('security_logout') }}">{% include "icon.html.twig" with {'icon': 'sign-out-alt'} only %} Déconnexion</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </header>

        <div class="container-fluid">
            {% if breadcrumb is defined %}
                <div class="row">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            {% for link in breadcrumb.links %}
                                {% if link.active %}
                                    <li class="breadcrumb-item active" aria-current="page">
                                {% else %}
                                    <li class="breadcrumb-item"><a href="{{ link.href }}">
                                {% endif %}
                                {% if link.icon is not empty %}{% include "icon.html.twig" with {'icon': link.icon} only %} {% endif %}{{ link.name }}
                                {% if not link.active %}</a>{% endif %}
                                </li>
                            {% endfor %}
                        </ol>
                    </nav>
                </div>
            {% endif %}
            <div class="row">
                {% if menu is defined %}
                    <aside class="col-md-2 px-0 sidebar-sticky">
                        <nav class="sidebar-nav">
                            {% include "menu.html.twig" with {'menu': menu, 'menu_main': true} only %}
                        </nav>
                    </aside>
                    <div class="col-md-10">
                {% else %}
                    <div class="col-md-12">
                {% endif %}
                        <div class="container-fluid pt-3">
                            {% block body %}{% endblock %}
                        </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/metisMenu/2.7.9/metisMenu.min.js"></script>
        <script src="/bootstrap-datepicker/js/bootstrap-datepicker.min.js" charset="UTF-8"></script>
        <script src="/bootstrap-datepicker/locales/bootstrap-datepicker.fr.min.js" charset="UTF-8"></script>
        <script src="/js/main.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
