<div class="card text-center">
    <div class="card-body">
        <h5 class="card-title"><i class="fas fa-barcode"></i> {{ depense.numero }}</h5>
        <p class="card-text" data-toggle="tooltip" title="Date"><i class="fas fa-calendar"></i> {{ depense.date }}</p>
        <p class="card-text" data-toggle="tooltip" title="Acheteur"><i class="fas fa-user"></i> {{ depense.acheteur }}</p>
        <p class="card-text" data-toggle="tooltip" title="Fournisseur"><i class="fas fa-truck"></i> {{ depense.fournisseur }}</p>
        <p class="card-text" data-toggle="tooltip" title="Montant"><i class="fas fa-receipt"></i> {{ depense.montant }}</p>
    </div>
    <div class="card-footer">
        <div class="btn-group" role="group" aria-label="Actions">
            <a href="{{ path('editer_ticket', {'id': depense.idTicket}) }}" class="btn btn-primary" data-toggle="tooltip" title="Éditer"><i class="fas fa-edit"></i></a>
            {% if not depense.forKermesse %}
                <a href="#" data-ajax="{{ path('supprimer_ticket', {'id': depense.idTicket}) }}" class="btn btn-danger ajax-remove" data-toggle="tooltip" title="Supprimer" data-ajax-validation="true"><i class="fas fa-trash-alt"></i></a>
            {% endif %}
        </div>
    </div>
</div>
