<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col"><i class="fas fa-calendar"></i> Date</th>
        <th scope="col"><i class="fas fa-user"></i> Acheteur</th>
        <th scope="col"><i class="fas fa-barcode"></i> N°</th>
        <th scope="col"><i class="fas fa-truck"></i> Fournisseur</th>
        <th scope="col"><i class="fas fa-receipt"></i> Montant</th>
        <th scope="col"><i class="fab fa-telegram-plane"></i> Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for depense in depenses %}
        <tr class="table-light ajax">
            <th scope="row">{{ depense.id }}</th>
            <td>{{ depense.date }}</td>
            <td>{{ depense.acheteur }}</td>
            <td>{{ depense.numero }}</td>
            <td>{{ depense.fournisseur }}</td>
            <td>{{ depense.montant }}</td>
            <td>
                <a href="{{ path('editer_ticket', {'id': depense.idTicket}) }}" class="btn btn-primary"><i class="fas fa-edit"></i> Éditer</a>
                {% if not depense.forKermesse %}
                    <a href="#" data-ajax="{{ path('supprimer_ticket', {'id': depense.idTicket}) }}" class="btn btn-danger ajax-remove" data-ajax-validation="true"><i class="fas fa-trash-alt"></i> Supprimer</a>
                {% endif %}
                {% if depense.duplicata %}
                    <a href="{{ app.request.getSchemeAndHttpHost() ~ path('ticket_duplicata', {'id': depense.idTicket}) }}" target="_blank" class="btn btn-secondary" data-toggle="tooltip" title="Duplicata"><i class="fas fa-file-image"></i></a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="table-light"><td colspan="7">Aucune dépense</td></tr>
    {% endfor %}
    </tbody>
    {% if depenses is not empty %}
        <tfoot>
            <tr class="table-dark">
                <th scope="row" colspan="5">Total</th>
                <td>{{ total }}</td><td></td>
            </tr>
        </tfoot>
    {% endif %}
</table>
